/* .dropdown-label {
  box-sizing: border-box;

  position: absolute;
  width: 392px;
  height: 71px;
  left: 306px;
  top: 1750px;

  border: 2px solid #ffffff;

  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 167%;

  text-align: right;
} */

/* .dropdown-text {
  position: absolute;
  width: 160px;
  height: 50px;
  left: 325px;
  top: 1761px;

  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 167%;

  text-align: right;
} */
