.footer {
  position: absolute;
  width: 1440px;
  height: 493px;
  left: 0px;
  top: 2919px;

  background: #f5f5f5;
}

.footer-img {
  width: 891.38px;
  height: 321px;
  left: 389px;
  top: 2988px;
}
