@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

.header {
  display: inline-block;
  left: 120px;
  top: 85px;
  margin-left: 70px;

  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 66px;

  width: 456px;
  height: 61px;
}

.connect-btn {
  display: inline-block;
  position: absolute;
  left: 1050px;
  top: 45px;
  width: 234px;
  height: 80px;

  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 23px;
  color: #ffffff;

  background: #0c1021;
  border: 2px solid #ffffff;
  border-radius: 60px;
}

.top-section a {
  text-decoration: none;
}

.top-section a:link,
.top-section a:visited {
  color: #ffffff;
}

.top-section a:hover {
  color: #fff278;
}

.top-section a:active {
  color: #ffffff;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;

  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;

  list-style-type: none;
}

.menu a {
  text-decoration: none;
}

.menu-item a:link,
.menu-item a:visited {
  color: #d6d3d3;
}

.menu-item a:hover {
  color: #fff278;
}

.menu-item a:active {
  color: #ffffff;
}
